<div class="container">
  <div class="content blue">
    <h4>
      <a href="https://csgcommunity.com">csgcommunity.com</a>
      &nbsp;— Website Creation & Management
    </h4>
    <p>
      Created and maintained a website for a video game community in the summer of 2017 with a redesign in the summer
      of
      2018 that utilizes modern technologies to make it a Progressive Web App. Technologies such as Angular, Material
      Design principles (Angular Material 2) Service Workers, CSS 3 and HTML 5.
    </p>
  </div>
  <div class="content pink">
    <h4>
      Batch Scripts for <a href="https://github.com/DannyDorito/ARMA-3-Startup-and-Restart-Script">ARMA 3</a> & <a href="https://github.com/DannyDorito/DayZ-Startup-and-Restart-Script">DayZ</a>
      Servers
    </h4>
    <p>
      Originally created for the Exile Mod, but can be used for any ARMA 3 Server with an adaptation for DayZ Servers
      too!
    </p>
  </div>
</div>
<div class="container">
  <div class="content pink">
    <h4>
      <a href="https://github.com/Sanjo/npp-sqf">npp-sqf</a>
      &nbsp;— Contributor
    </h4>
    <p>
      Contributor to a repo for Notepad++ syntax highlighting and autocompletion for SQF (the scripting language for
      the ARMA games).
    </p>
  </div>
  <div class="content blue">
    <h4>
      <a href="https://github.com/DannyDorito/BTEC-Work">Github Repo</a>
      &nbsp;— BTEC Work
    </h4>
    <p>
      Various Projects from my BTEC work such as: C# Projects, Python Projects, ASPX Website & Unity Video Game
    </p>
  </div>
</div>
