<div class="center">
  <div>Projects</div>
  <h4>
    <a href="https://csgcommunity.com">csgcommunity.com</a>
    &nbsp;— Website Creation & Management
  </h4>
  <p>
    Created and maintained a website for a video game community in the summer of 2017 with a redesign in the summer of
    2018 that utilizes modern technologies to make it a Progressive Web App. Technologies such as Angular, Material
    Design and Service Workers.
  </p>
  <h4>
    <a href="https://github.com/DannyDorito/ARMA-3-Startup-and-Restart-Script">Startup & Restart Batch Script</a>
    &nbsp;— ARMA 3 (Exile) Startup & Restart Script
  </h4>
  <p>
    Originally created for the Exile Mod, but can be used for any ARMA 3 Server
    This is .bat file for all your ARMA 3 Server startup needs!
  </p>
  <h4>
    <a href="https://github.com/DannyDorito/BTEC-Work">Github Repo</a>
    &nbsp;— BTEC Work
  </h4>
  <p>
    Various Projects from my BTEC work such as: C# Projects, Python Projects, ASPX Website & Unity Video Game
  </p>
</div>
