body {
  background: #C1D4E2;
  background: -webkit-linear-gradient(90deg, #C1D4E2, #FCE4E4);
  background: linear-gradient(90deg, #C1D4E2, #FCE4E4);
  font-size: 2em;
  word-wrap: break-word;
}

::selection {
  background: #C1D4E2;
  color: black;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

.nav-space {
  margin-right: 5%;
}

.underline,
.router-link-active {
  display: inline;
  background-image: linear-gradient(90deg, currentColor 100%, transparent 100%);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 1px;
}

.underline::-moz-selection {
  background-color: #FCE4E4;
}

.underline::selection {
  background-color: #FCE4E4;
}
